<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item">
            <a [routerLink]="['/']">
              <i class="fas fa-home"></i>
              Página Inicial</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="callout callout-info">
          <h3>Bem vindo !</h3>
          <!-- <h3>Perfis: {{authService.usuario?.perfis}}</h3> -->
          Utilize o menu ao lado para acessar as opções disponíveis.
        </div>
      </div>
    </div>
  </div>
</div>
