<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>FullStack</b>CRM</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Iniciar sessão</p>
    
        <form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" class="text-center">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" formControlName="email" maxlength="50" placeholder="Email"
            [ngClass]="{ 'is-invalid': f.submitted && form.controls['email'].invalid }">
            <div *ngIf="f.submitted && form.controls['email'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['email'].errors.required">Campo obrigatório</div>
            </div>
          </div>

          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Senha" formControlName="senha" maxlength="50"
            [ngClass]="{ 'is-invalid': f.submitted && form.controls['senha'].invalid }">
            <div *ngIf="f.submitted && form.controls['senha'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['senha'].errors.required">Campo obrigatório</div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
            </div>
            <!-- /.col -->
          </div>
          <div class="row text-center mt-3">
            <div class="col-12">
              <a [routerLink]="['/cadastro']" class="text-center">Cadastre-se!</a>
            </div>
          </div>
        </form>

    
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    
    
    </body>