<nav class="main-header navbar navbar-expand text-sm navbar-dark navbar-lightblue">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenuSidebar.emit()" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

    <label style="color:whitesmoke">
      <span><b>Avaliação FullStack</b> </span>
      <span class="d-none"> - Samuel Toledo de Almeida</span>
    </label>
     
  <ul class="navbar-nav ml-auto">
    <app-user-dropdown-menu></app-user-dropdown-menu>
  </ul>
</nav>
